.home{
    height: 1400px;
    color: #666666;
    background-color: #3f4552;
    font-size: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 2rem;
}

.titulo{
    color: #292933;
    background-color: #3f4552;
    font-size: 40px;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.photologo{
    height:100px;
}

.photo{
    height:100%;
    width:100%;
}

.photo:hover{
    height:100%;
    width:100%;
}

.textos2{
  color: #465f8d;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.borda{
    border: 2px solid #0f1114;
    border-radius: 10px;
    background-color: #212b3d;
}